* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}
header {
    background-color: rgb(112, 112, 112);
    color: darkorange;
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    height: 5rem;
    justify-content: center;
}
h1 {
    padding-top: 1.25rem;
    font-size: 2rem;

}
h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    color: darkorange;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
h3 {
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    text-align: center;
    color: white;
    height: 3rem;
    font-size: 1.15rem;
    padding-top: .85rem;
}
#user-pick {
    background-color: darkolivegreen;
    float: left;
    width: 50%;
}
#comp-pick {
    background-color: darkred;
    float: left;
    width: 50%;
}
#wins {
    width: 100%;
    text-align: center;
    height: 3rem;
    background-color: rgb(112, 112, 112);
    color: darkorange;
    border: white solid 3px;
    justify-content: center;
    float: left;
    font-size: 1.5rem;
    padding-top: .5rem;
    margin: 0rem;
}
#losses {
    width: 100%;
    text-align: center;
    height: 3rem;
    background-color: rgb(112, 112, 112);
    color: darkorange;
    border: white solid 3px;
    justify-content: center;
    float: left;
    font-size: 1.5rem;
    padding-top: .5rem;
    margin: 0rem;
}
#ties {
    width: 100%;
    text-align: center;
    height: 3rem;
    background-color: rgb(112, 112, 112);
    color: darkorange;
    border: white solid 3px;
    justify-content: center;
    float: left;
    font-size: 1.5rem;
    padding-top: .5rem;
    margin: 0rem;
}